{% extends "layouts/layout.njk" %} 

    {% block head %}
        <title>Chefs</title>
    {% endblock %}

    {% block header %}
        <header>
            {# Parte do Logo #}
            <div class="menu">
                <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>

                {# Parte do Menu / antigo header #}
                <nav class="principal">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                    <a>|</a>
                    <a href="/admin/login">Login</a> 
                </nav>

            </div>
        </header>
    {% endblock header %}

    {% block content %} 
        <section class="show-wrapper container">
            
            {% for chef in chefs %}

                <div class="card horizontal">
                    <img class="img_circular" src="{{ chef.image }}" alt="Imagem de {{ chef.name }}">
                    <div class="card"> 
                        <span class="card_title"> {{ chef.name }} </span>
                        <span class="card_subtitle">{{ chef.total_recipes }} receita(s)</span>
                    </div>
                </div>

            {% endfor %}

        </section>
    {% endblock %}

    {% block footer %}
    {% endblock footer %}