{% extends "layouts/public.njk" %}

    {% block container %} 

        <section class="chefs container">
            
            {% for chef in chefs %}

                <div class="card horizontal">
                    <img class="img_circular" src="{{ chef.src }}" alt="Imagem de {{ chef.name }}">
                    <div class="card">
                        <span class="card_title"> {{ chef.name }} </span>
                        <span class="card_subtitle">{{ chef.total_recipes }} receita(s)</span>
                    </div>
                </div>

            {% endfor %}

        </section>

    {% endblock %}