{% extends "layouts/public.njk" %}

    {% block container %}

        <section class="chefs container">
            
            {% for chef in chefs %}

                <div class="card-horizontal">

                    <img class="img_circular" 
                        src="{{ chef.src }}" 
                    >

                    <div class="card_info">
                        <span class="info_title">{{ chef.name }}</span>
                        <span class="info_subtitle">{{ chef.total_recipes }} receitas</span>
                    </div>

                </div>

            {% endfor %}

        </section>

    {% endblock %}