{% extends "layouts/public.njk" %} 

        {% block head%}
            <title>Receita - {{ recipe.title }}</title>
        {% endblock %}

        {% block container %}

            <section class="recipe container">

                <section class="recipe-principal">

                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">

                    <div class="recipe-intro">
                        <span class="info-title">{{ recipe.title }}</span>
                        <span class="info-subtitle">por {{ recipe.chef_name }}</span>
                    </div>

                </section>

                <h1>Ingredientes <button class="visibility">ESCONDER</button></h1>

                <section class="recipe-info">

                    <ul>
                        {% for item in recipe.ingredients %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>

                </section>

                <h1>Modo de Preparo <button class="visibility">ESCONDER</button></h1> 

                <section class="recipe-info">

                    <ul>
                        {% for item in recipe.preparation %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul> 

                </section>  

                <h1>Informações adicionais <button class="visibility">ESCONDER</button></h1>

                <section class="recipe-info">
                    <p>
                        {% if(recipe.information == "")%}
                            Não há informações adicionais para essa receita.
                        {% else %}
                            {{ recipe.information | striptags(true) | escape | nl2br }}
                        {% endif %}
                    </p>
                </section>

            </section>

        {% endblock %}

</html>