{% extends "layouts/public.njk" %} 

    {% block container %}

        <section class="banner">
            
            <div class="container">
                <div class="banner-info">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por 
                        profissionais do mundo inteiro.</p>
                </div>
                <div class="banner-img">
                   <img src="assets/chef.png" alt="Chef da Foodfy">
                </div>
            </div>

        </section>

        <main>

            <h2>Mais acessadas</h2>

            <section class="recipes-container">

                {% for recipe in recipes %}

                    <div class="card" id="{{ recipe.id }}"> 

                        <div>
                            <a href="/recipes/{{ recipe.id }}">
                                <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
                            </a>
                        </div>
        
                        <div class="info_title">
                            <p>{{ recipe.title }}</p>
                        </div>
        
                        <div class="info_subtitle">
                            <p>{{ recipe.chef_name }}</p>
                        </div>
        
                    </div>

                {% endfor %}
                
            </section>
            
        </main>

    {% endblock %}

</html>