{% extends "layouts/public.njk" %} 

    {% block header %}

        <header>

            <div class="container">

                <div class="header">
                    <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>

                    <nav>
                        <a href="/about">Sobre</a>
                        <a href="/recipes">Receitas</a>
                        <a href="/chefs">Chefs</a>
                        <a href="/admin/chefs">Admin</a> 
                    </nav>
                </div>

                <div class="filter">
                    <form action="/recipes" method="GET">
                        <input type="text" name="filter" placeholder="Buscar uma receita">
                        <button type="submit">Buscar</button>
                    </form>
                </div>

            </div>

        </header>

    {% endblock header %}

    {% block banner %}

        <section class="banner">
            
            <div class="container">
                <div class="banner-info">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por 
                        profissionais do mundo inteiro.</p>
                </div>
                <div class="banner-img">
                    <img src="assets/chef.png" alt="Chef da Foodfy">
                </div>
            </div>

        </section>

    {% endblock banner %}

    {% block container %}

        <section class="title">
            <h2>Mais acessadas</h2>
        </section>

        <section class="recipes container">

            {% for recipe in recipes %}

                <div class="card" id="{{ recipe.id }}"> 

                    <div>
                        <a href="/recipes/{{ recipe.id }}">
                            <img src="{{ recipe.src }}" alt="Imagem de {{ recipe.title }}">
                        </a>
                    </div>
    
                    <div class="info_title">
                        <p>{{ recipe.title }}</p>
                    </div>
    
                    <div class="info_subtitle">
                        <p>{{ recipe.chef_name }}</p>
                    </div>
    
                </div>

            {% endfor %}
            
        </section>
            
    {% endblock %}

</html>