{% extends "layouts/public.njk" %}  

        {% block head%}
            <title>Receitas</title>
        {% endblock %}

        {% block container %}

            <section class="recipes-container">

            {% for recipe in recipes %}
                
                <div class="recipes" id="{{ recipe.id }}">
                
                    <div class="page-recipes-img">
                        <a href="/recipes/{{ recipe.id }}">
                            <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.name }}">
                        </a>
                    </div>

                    <div class="recipes-name">
                        <p>{{ recipe.title }}</p>
                    </div>

                    <div class="recipes-author">
                        <p>{{ recipe.chef_name }}</p>
                    </div>

                </div>

            {% endfor %}

            </section>

        </section>  

        {% endblock %}

</html>