{% extends "layouts/public.njk" %}  

        {% block head%}
            <title>Receitas</title>
        {% endblock %}

        {% block container %}

            <section class="recipes-container">

            {# {% for recipe in recipes %} #}
                
                <div class="recipes" id="{{ recipe.id }}">
                
                    <div class="page-recipes-img">
                        <img src="https://conteudo.imguol.com.br/c/entretenimento/fa/2015/09/11/paola-carosella-1442002659696_615x300.jpg" alt="Imagem de {{ recipe.name }}">
                    </div>

                    <div class="recipes-name">
                        <p>Nome</p>
                    </div>

                    {# <div class="recipes-name">
                        <p>{{ recipe.name }}</p>
                    </div> #}

                    <div class="recipes-author">
                        <p>Nome Autor</p>
                    </div>

                    {# <div class="recipes-author">
                        <p>{{ recipe.author }}</p>
                    </div> #}
                </div>

            {# {% endfor %} #}

            </section>

        </section>  

        {% endblock %}

</html>