{% extends "layouts/public.njk" %}  

        {% block head%}
            <title>Receitas</title>
        {% endblock %}

        {% block container %}

        <main> 

            <section class="recipes-container">

                {% for recipe in recipes %}

                    <div class="card" id="{{ recipe.id }}"> 

                        <div>
                            <a href="/recipes/{{ recipe.id }}">
                                <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
                            </a>
                        </div>
        
                        <div class="info_title">
                            <p>{{ recipe.title }}</p>
                        </div>
        
                        <div class="info_subtitle">
                            <p>{{ recipe.chef_name }}</p>
                        </div>
        
                    </div>
                    
                {% endfor %}

            </section>  

        </main>

        {% endblock %}

</html>