{% extends "layouts/admin.njk" %} 

    {% block head %}
        <title>Chef {{ chef.name }}</title>
    {% endblock %}

    {% block content %}
        <section class="control">
            <h1>Chef: {{ chef.name }}</h1>
            {% if session.isAdmin %}
                <a class="button" href="{{ chef.id }}/edit">Editar Chef</a>
            {% endif %}
        </section>

        <section class="container">
            
            {% if not chef.file %}
                <img class="img_circular_grande" src="http://placehold.it/500x500?text=Chef sem foto">
            {% else %}
                <img class="img_circular_grande" src="{{ chef.file.src }}" alt="Imagem de {{ chef.name }}">
            {% endif %}

            <div class="chef-intro">
                <span class="info-title">{{ chef.name }}</span>
                <span class="info-subtitle">{{ chef.total_recipes }} receita(s)</span>
            </div>

            <h1>Receitas</h1>

            <section class="show-wrapper-recipes">
                
                {% if chef.recipes[0].id == null %}
                    Este Chef ainda não possui receitas.
                {% else %}

                    {% for recipe in chef.recipes %}

                        <div class="card horizontal">

                            <img 
                                class="img_rounded" 
                                src="{{ recipe.image }}" 
                                alt="Imagem de {{ recipe.title }}">

                            <div class="card">
                                <span class="card_title">{{ recipe.title }}</span>
                                <span class="card_subtitle">por {{ chef.name }}</span>
                                <span class="card_view">
                                    <a href="/admin/recipes/{{ recipe.id }}">
                                        Visualizar
                                    </a>
                                </span>
                            </div>
                        </div>

                    {% endfor %}
                    
                {% endif %}
            </section>
        </section>
    {% endblock %}