{% extends "layouts/admin.njk" %} 

    {% block head %}
        <title>Chef {{ chef.name }}</title>
    {% endblock %}

    {% block container %}

        <section class="control">

            <div>
                <h1>Chef: {{ chef.name }}</h1>
            </div>

            <div>
                <a href="{{ chef.id }}/edit">Editar Chef</a>
            </div>

        </section>

        <section class="chef container">

            <section class="chef-principal">

                <img class="img_circular" src="{{ chef.avatar_url }}" alt="Imagem de {{ chef.name }}">

                <div class="chef-intro">
                    <span class="info-title">{{ chef.name }}</span>
                    <span class="info-subtitle">{{ chef.total_recipes }} receita(s)</span>
                </div>

            </section>

            <h1>Receitas</h1>

            <section class="recipes-admin container">

                {% if recipes[0].id == null %}

                    Este Chef ainda não possui receitas.

                {% else %}

                    {% for recipeItem in recipes %}

                        <div class="card-horizontal">

                            <img class="img_rounded"
                                src="{{ recipeItem.image }}" 
                                alt="{{ recipeItem.title }}">

                            <div class="card_info">
                                <span class="info_title">{{ recipeItem.title }}</span>
                                <span class="info_subtitle">por {{ chef.name }}</span>
                                <span class="info_view">
                                    <a href="/admin/recipes/{{ recipeItem.id }}">
                                        Visualizar
                                    </a>
                                </span>
                            </div>

                        </div>

                    {% endfor %}

                {% endif %}

            </section>

        </section>

    {% endblock %}