{% extends "layouts/admin.njk" %} 

    {% block head %}
        <title>Chef {{ chef.name }}</title>
    {% endblock %}

    {% block content %}
        <section class="control">
            <h1>Chef: {{ chef.name }}</h1>
            <a class="button" href="{{ chef.id }}/edit">Editar Chef</a>
        </section>

        <section class="container">
            
            {% if not chef.file %}
                <img class="img_circular_grande" src="http://placehold.it/500x500?text=Chef sem foto">
            {% else %}
                <img class="img_circular_grande" src="{{ chef.image }}" alt="Imagem de {{ chef.name }}">
            {% endif %}

            <div class="chef-intro">
                <span class="info-title">{{ chef.name }}</span>
                <span class="info-subtitle">{{ chef.total_recipes }} receita(s)</span>
            </div>

        <h1>Receitas</h1>

            <section class="chefs-recipes">
                
                {% if chef.recipes[0].id == null %}
                    Este Chef ainda não possui receitas.
                {% else %}

                    {% for item in chef.recipes %}

                        <div class="card-horizontal">

                            <img class="img_rounded"
                                src="{{ item.image }}" 
                                alt="{{ item.title }}">

                            <div class="card_info">
                                <span class="info_title">{{ item.title }}</span>
                                <span class="info_subtitle">por {{ chef.name }}</span>
                                <span class="info_view">
                                    <a href="/admin/recipes/{{ item.id }}">
                                        Visualizar
                                    </a>
                                </span>
                            </div>

                        </div>

                    {% endfor %}
                    
                {% endif %}
            </section>
        </section>
    {% endblock %}