    <div class="item">
        <div>Nome do Chef</div>
        <div>
            <input type="text" name="name" placeholder="Insira o nome do chef" value="{{ chef.name }}" required>
        </div>
    </div>
    
    <div class="item">

        <div>Avatar</div>
        <div>
            <input type="url" name="image_url" placeholder="Insira a URL do avatar" value="{{ chef.image_url }}" required>
        </div>

    </div>