{% extends "layouts/admin.njk" %}

    {% block head %}
        <title>Chefs</title> 
    {% endblock %}

    {% block content %}
        <section class="control">
            <h1>Gerenciar Chefs</h1>
            <a class="button" href="/admin/chefs/create">Criar Novo Chef</a>
        </section>

        <section class="show-wrapper container">
            
            {% for chef in chefs %}

                <div class="card horizontal">
                    <img class="img_circular" src="{{ chef.image }}" alt="Imagem de {{ chef.name }}">
                    <div class="card">
                        <span class="card_title"> {{ chef.name }} </span>
                        <span class="card_view">
                            <a class="btn_view" href="/admin/chefs/{{ chef.id }}">Visualizar</a> 
                        </span>
                    </div>
                </div>

            {% endfor %}

        </section>
    {% endblock %} 
        
    {% block container %}

    {% endblock %}
