{% extends "layouts/admin.njk" %}

    {% block head %}
        <title>Foodfy - Chefs</title> 
    {% endblock %}

    {% block container %}

        <section class="control">

            <div>
                <h1>Gerenciar Chefs</h1>
            </div>

            <div>
                <a href="/admin/chefs/create">Criar Novo Chef</a>
            </div>

        </section>

        <section class="chefs container">

            {% for chef in chefs %}

                <div class="card-horizontal">

                    <img class="img_circular" 
                        src="{{ chef.avatar_url }}" 
                    >

                    <div class="card_info">
                        <span class="info_title">{{ chef.name }}</span>
                        <span class="info_view"> 
                            <a href="/admin/chefs/{{ chef.id }}">
                                Visualizar
                            </a>
                        </span>
                    </div>

                </div>

            {% endfor %}
            
        </section>

    {% endblock %}
