{% extends "layouts/admin.njk" %}

    {% block container %}

        <section class="intro">

            <div class="intro-text">
                <h1>Gerenciar Chefs</h1>
            </div>

            <div class="intro-btn">
                <a href="/admin/chefs/create">Criar Novo Chef</a>
            </div>

        </section>

    {% endblock %}
