{% extends "layout.njk" %} 

    {% block head %}
        <title>Receita - {{ recipe.title }}</title>
    {% endblock %}

    {% block container %}

        <section class="recipe-intro">

            <div class="recipe-intro-text">
                <h1>Receita: Triplo bacon burger</h1>
            </div>

            <div class="recipe-intro-btn">
                <a href="#">Editar Receita</a>
            </div>
            
        </section>

        <section class="recipe-details-container-admin">
    
        <div class="recipe-img">
            <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="Imagem de Triplo bacon burger">
            {# <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}"> #}
        </div>

        <div class="recipe-name">
            <h1>Triplo bacon burger</h1>
            <h3>por Jorge Relato</h3>
            {# <h1>{{ recipe.title }}</h1> #}
            {# <h3>por {{ recipe.author }}</h3> #}
        </div>

            <h1>Ingredientes</h1>

        <div class="recipe-info">
            <ul>
                {# {% for item in recipe.ingredients %}
                    <li>{{ item }}</li>
                {% endfor %} #}

                <li>3 kg de carne moída (escolha uma carne magra e macia)</li>
                <li>300 g de bacon moído</li>
                <li>1 ovo</li>
            </ul>
        </div>

            <h1>Modo de Preparo</h1>   

        <div class="recipe-info">
            <ul>
                {# {% for item in recipe.preparation %}
                    <li>{{ item }}</li>
                {% endfor %} #}
                <li>3 kg de carne moída (escolha uma carne magra e macia)</li>
                <li>300 g de bacon moído</li>
                <li>1 ovo</li>
            </ul>                     
        </div>

            <h1>Informações adicionais</h1>

        <div class="recipe-info">
            <p>
                {# {% if(recipe.information == "")%}
                    Não há informações adicionais para essa receita.
                {% else %}
                    {{ recipe.information | striptags(true) | escape | nl2br }}
                {% endif %} #}
                Não há informações adicionais para essa receita.
            </p>
        </div>

        </section>

    </section>  

    {% endblock %}

    {% block footer %}
        
    {% endblock footer %}

</html>