{% extends "layout.njk" %}

    {% block head %}
        <title>Foodfy - Administração</title> 
    {% endblock %}

    {% block container %}

        <section class="recipe-intro">

            <div class="recipe-intro-text">
                <h1>Gerenciar receitas</h1>
            </div>

            <div class="recipe-intro-btn">
                <a href="/admin/recipes/create">Criar Nova Receita</a>
            </div>

        </section>

        <section class="recipes-container-admin">

            {% for recipe in recipes%}

                <div class="recipes-admin" id="{{ recipe.id }}"> 

                    <div class="recipes-img-admin">
                        <img src="{{ recipe.image_url }}" alt="Imagem de {{ recipe.name }}">
                    </div>

                    <div>
                        <div class="recipes-name-admin">
                            <p>{{ recipe.name }}</p>
                        </div>

                        <div class="recipes-author-admin">
                            <p>{{ recipe.author }}</p>
                        </div>

                        <div class="recipes-view-admin">
                            <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                        </div>
                    </div>

                </div>

            {% endfor %}
        
        </section>

    {% endblock container %}

    {% block footer %}
    {% endblock footer %}