{% extends "layouts/admin.njk" %} 

    {% block content %}
        <section class="control">
            <h1>Criar Usuário</h1>
            <button type="submit" form="form-save" onclick="Validate.allFields(event)">Salvar</button>
        </section>

        <section class="users container">
            <form id="form-save" method="POST" action="/admin/users/">
                {% include 'admin/users/fields.njk' %}
            </form>
        </section>

    {% endblock %}