{% extends "layouts/admin.njk" %} 

    {% block head %}
        <title>Foodfy - Administração</title>
    {% endblock %}

    {% block container %}

        <section class="user control">

            <h1>Criar Usuário</h1>
            <div>
                <button class="btn-salve" type="submit" form="form-save">Salvar</button>
                <button class="btn-cancelar" type="submit" form="form-save">Cancelar</button>
            </div>

        </section>

        <section class="user container">

            <form id="form-save" method="POST" action="/admin/users/">

                {% include 'admin/users/fields.njk' %}

            </form>

        </section>

    {% endblock container %}

    {% block footer %}
    {% endblock footer %}
