{% extends "layouts/admin.njk" %} 

    {% block head %}
        <title>Foodfy - Administração</title> 
    {% endblock %} 

    {% block container %}

        <section class="control">

            <h1>Editando Usuário</h1>
            <div>   
                <button class="btn-delete" type="submit" form="form-delete">Deletar</button>
                <button class="btn-salve" type="submit" form="form-save">Salvar Usuário</button>
            </div>

        </section>

        <section class="user container">

            <form id="form-save" method="POST" action="/admin/users?_method=PUT"> 

                <input type="hidden" name="id" value="{{ user.id }}">
                {# utilizando esse campo para poder mandar o ID para o backend, quando formos atualizar algum registro #}

                {% include 'admin/users/fields.njk' %}
                
            </form>

            <form id="form-delete" method="POST" action="/admin/users?_method=DELETE">
            
                <input type="hidden" name="id" value="{{ user.id }}">
            
            </form>     

            <script>

                const formDelete = document.querySelector("#form-delete")

                formDelete.addEventListener("submit", function(event){
                    const confirmation = confirm("Deseja realmente apagar sua Conta?")

                    if(!confirmation){
                        event.preventDefault()
                    }
                })

            </script> 

        </section>

    {% endblock container %}