    <div class="item">
        <div>Nome</div>
        <div>
            <input type="text" name="name" placeholder="Digite o nome completo" value="" required>
        </div>
    </div>

    <div class="item">
        <div>Email</div>
        <div>
            <input type="email" name="email" placeholder="Digite o email" value="" required>
        </div>
    </div>
    
    <div class="item">
        <div>
            <input type="checkbox" name="isAdmin" value="">
            <label for="isAdmin">Administrador</label>
        </div>
    </div>
    