{% extends "layouts/admin.njk" %}

    {% block head %}
        <title>Foodfy - Usuários</title> 
    {% endblock %}

    {% block container %}

        <section class="control">

            <div>
                <h1>Usuários</h1>
            </div>

            <div>
                <a href="/admin/users/register">Criar Novo Usuário</a>
            </div>

        </section>

        <section class="users container">

            {% for user in users %}

                <div class="card-horizontal">

                    <div class="card_info">
                        <span class="info_title">{{ user.name }}</span>
                        <span class="info_email">{{ user.email }}</span>
                        <span class="info_view"> 
                            <a href="/admin/users/{{ user.id }}">
                                Editar
                            </a>
                            <a href="/admin/users/{{ user.id }}">
                                Remover
                            </a>
                        </span>
                    </div>

                </div>

            {% endfor %}
            
        </section>

    {% endblock %}
