
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/cards.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/login.css">
{# <link rel="stylesheet" href="/styles/menu.css"> #}
{# <link rel="stylesheet" href="/styles/admin.css"> #}