<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <section class="wrapper">

            <header>
                <div class="logo-menu">
                    <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
                </div>
                
                <nav>
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                </nav>
            </header>  

            {% block container %}

            {% endblock %}
            
        </section>  

        <footer>
            <p>Todos os direitos reservados, receitas Foodfy</p>
        </footer>

        <script src="/scripts.js"></script>

    </body>
</html>