{% extends "layout.njk" %}

        {% block head%}
            <title>Receitas</title>
        {% endblock %}

        {% block container %}

            <section class="recipes-container">

                <div class="recipes-image" id="{{ recipe.id }}">
                    <div class="page-recipes-img">
                        <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
                    </div>

                    <div class="recipes-name">
                        <p>{{ recipe.title }}</p>
                    </div>

                    <div class="recipes-author">
                        <p>{{ recipe.author }}</p>
                    </div>
                </div>

            </section>

        </section>  

        {% endblock %}

</html>