{% extends "layout.njk" %}

    {% block head %}
        <title>Foodfy - Administração</title>
    {% endblock %}

    {% block container %}

        <section class="recipe-intro">

            <div class="recipe-intro-text">
                <h1>Criando receita</h1>
            </div>

            <div class="recipe-intro-btn">
                <button class="btn-salve" type="submit" form="form-save">Salvar Receita</button>
            </div>

        </section>

        <section class="details-admin">

            <form id="form-save" method="POST" action="/admin/recipes">

                {% include 'admin/fields.njk' %}

            </form>         

        </section>

    {% endblock container %}

    {% block footer %}
    {% endblock footer %}
