@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --color-blackGray: #111111;
    --color-graySoft: #777777;
    --color-gray: #444444;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    color: black;
}

header{
    display: inline-flex;
    align-items: center;
}

.logo-menu{
    display: inline-block;
    vertical-align: middle;
    margin-right: 122px;
}

nav{
    line-height: 90px;
    height: 90px;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-blackgray);
    margin-left: 30px;
}

#wrapper{
    margin: 0 auto;
    max-width: 940px;
}

.banner{
    height: 366px;
    max-width: 940px;
    background: #FBDFDB;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.info-banner{
    align-items: center;
    width: 320px;
    margin: auto;
}

.info-banner h1{
    font-size: 32px;
    line-height: 42px;
}

.info-banner p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    width: 350px;
    opacity: 0.7;
}

.info-banner-img{
    margin-top: 66px;
    height: 300px;
    right: 10vw;
    position: absolute;
}

.recipes-title{
    margin: 30px 0 20px 0;
    line-height: 34px;
}

.recipes-container{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipes img{
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
}

.recipes-name{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.recipes-author{
    font-size: 14px;
    color: var(--color-graySoft);
    margin-bottom: 20px;
}

footer{
    padding: 24px;
    background: #EEEEEE;
    margin-top: 20px;
}

footer p{
    font-size: 14px;
    color: #999999;
    text-align: center;
}

/* Sobre/About */

.about-content h2{
    font-size: 24px;
    color: var(--color-blackGray);
    margin: 0px auto 20px;
}

.about-content h3{
    font-size: 20px;
    color: var(--color-blackGray);
    margin: 30px 0 20px;
}

.about-content p{
    font-size: 18px;
    color: var(--color-gray);
    line-height: 28px;
}

/* Receitas/Recipes */

.page-recipes-img img{
    width: 300px;
    border-radius: 15px;
    cursor: pointer;
}

/* Pag. Receita Detalhes / Recipe Details Page */

.recipe h1{
    font-size: 24px;
    color: var(--color-blackGray);
}

.recipe .visibility{
    background: none;
    color: #999999;
    font-size: 12px;
}

.recipe-img img{
    border-radius: 15px;
}

.recipe-intro{
    margin: 0 auto;
    text-align: center;
    margin: 50px auto;
}

.recipe-intro h1{
    font-size: 36px;
    color: var(--color-blackGray);
}

.recipe-intro h3{
    font-size: 20px;
    color: var(--color-graySoft);
}

.recipe-info{
    font-size: 18px;
    line-height: 28px;
    color: var(--color-gray);
    margin-top: 20px;
    margin-bottom: 39px;
}

.hide{
    display: none;
}

.recipe-info ul{
    margin-left: 18px;
}

.recipe-info h1{
    font-size: 24px;
    color: var(--color-blackGray);
    margin-bottom: 20px;
}

/* Responsividade */

@media(max-width: 800px) {

    .recipes-title {
        margin: 30px 100px 10px;
    }

    .recipes-container {
        grid-template-columns: 1fr;
        margin: 50px;
    }
}
