@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --color-graySoft: #666666;
    --color-graySoft2: #777777;
    --color-gray: #444444;
    --color-grayHard: #111111;
    --color-rocket: #6558C3;
    --color-deleteRed: #DC4747;
}

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100vh;
}

/* MENU */

header{
    height: 80px;
}

header .container {
    display: flex;
    align-items: center;
    max-width: 940px;
    margin: auto;
}

header .container nav{
    line-height: 80px;
    margin-left: 50px;
}

header .container nav a{
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-grayHard);
    margin-left: 30px;
}

header .container nav a.active{
    font-weight: bold;
}

/* BANNER */

section.banner {
    margin: auto auto 50px;
    max-width: 940px;
    background: #FBDFDB;
    border-radius: 30px;
}

section.banner .container{
    max-width: 940px;
    height: 360px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

section.banner .container div{
    align-items: center;
    width: 330px;
    margin: auto 60px;
}

section.banner .container div h1{
    font-size: 32px;
    line-height: 42px;
}

section.banner .container div p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    width: 350px;
    opacity: 0.7;
}

section.banner .container .banner-img{
    margin: auto 0 0;
}

/* MAIN */

main{
    margin: 0 auto;
    max-width: 940px;
}

.recipes-container{
    margin: 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* CARDS */

.card{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

.card img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
}

.card .info_title {
    font-size: 18px;
    display: block;
    margin: 20px 0 5px;
}

.card .info_subtitle{
    font-size: 14px;
    color: var(--color-graySoft);
}

/* FOOTER */

footer{
    padding: 24px;
    background: #EEEEEE;
    margin-top: 20px;
}

footer p{
    font-size: 14px;
    color: #999999;
    text-align: center;
}


/* 


header div{
    margin-left: 15%;
}

header div a img.invert{
    filter: invert(100%);
}

header .none{
    opacity: 0;
    pointer-events: none;
}

header.black-menu{
    background-color: var(--color-grayHard);
    color: #FFF;
}

nav{
    line-height: 90px;
    height: 90px;
    margin-left: 50px;
}

nav a{
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    color: var(--color-grayHard);
    margin-left: 30px;
}

nav a.active{
    font-weight: bold;
}

footer{
    padding: 24px;
    background: #EEEEEE;
    margin-top: 20px;
}

footer p{
    font-size: 14px;
    color: #999999;
    text-align: center;
} */

/* =========================== ABOUT/SOBRE =============================== */

.about-container h2, h3{
    margin-bottom: 20px;
    color: var(--color-grayHard);
}

.about-container h2{
    font-size: 24px;
}

.about-container h3{
    margin-top: 30px;
    font-size: 20px;
}

.about-container p{
    font-size: 18px;
    color: var(--color-graySoft);
    line-height: 28px;
}

/* Receitas/Recipes */

.page-recipes-img img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
}

/* Pag. Receita Detalhes / Recipe Details Page */

.recipe h1{
    font-size: 24px;
    color: var(--color-grayHard);
}

.recipe .visibility{
    background: none;
    color: #999999;
    font-size: 12px;
}

.recipe-img img{
    border-radius: 15px;
    width: 940px;
    height: 280px;
}

.recipe-name{
    margin: 0 auto;
    text-align: center;
    margin: 50px auto;
}

.recipe-name h1{
    font-size: 36px;
    color: var(--color-grayHard);
}

.recipe-name h3{
    font-size: 20px;
    color: var(--color-graySoft);
}

.recipe-info{
    font-size: 18px;
    line-height: 28px;
    color: var(--color-gray);
    margin-top: 20px;
    margin-bottom: 39px;
}

.hide{
    display: none;
}

.recipe-info ul{
    margin-left: 18px;
}

.recipe-info h1{
    font-size: 24px;
    color: var(--color-grayHard);
    margin-bottom: 20px;
}

/* Pag. Chefs */

.chefs_container{   /* Seção que envolver os cards dos chefs */
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.card_secondary{    /* Div que representa cada Card*/
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 20px;
    width: 100%;    /*Tem 100% de largura para que o nome do Chef fique em uma linha*/
}
/*
.card_img {     /*Configuração padrão para a imagem do Card
    max-width: 300px;
    border-radius: 15px;
    min-height: 120px;
    width: 300px;
    height: 120px;
    object-fit: cover;  /*Prop. especifica como o conteúdo de um elemento deve ser ajustado à caixa estabelecida pela altura e largura usadas
}
*/
.card_secondary .card_img {
    width: 172px;   
    height: 80px;
    max-width: 172px;
    min-height: 80px;
}

.card_secondary .card_img_rounded {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    object-fit: cover;
}

.card_secondary .card_img {
    border-radius: 5%;
    height: 80px;
    width: 172px;
    object-fit: cover;
}

a.card,
a.card_secondary {
    text-decoration: none;
}

.card .card_info {
    margin-top: 20px;
}

.card_info_title {
    color: #111111;
    font-size: 18px;
    display: block;
}

.card_info_subtitle {
    margin-top: 5px;
    color: var(--color-graySoft2);
    font-size: 14px;
}

.card_info_view a{
    margin-top: 10px;
    display: block;
    color: var(--color-rocket);
    font-size: 14px;
    text-decoration: none;
}

/* Pag. Detalhe Chef */

.author-img-rounded{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.author-info{
    margin: 30px auto;
    text-align: center;
}

.author-info-title {
    color: var(--color-grayHard);
    font-size: 36px;
    font-weight: bold;
    display: block;
}

.author-info-subtitle{
    font-size: 20px;
    color: var(--color-graySoft2);
    text-align: center;
    display: block;
}

/* Área de Administração */

.recipes_container{ 
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recipes-admin{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.recipes-admin img{
    width: 172px;
    height: 80px;
    border-radius: 15px;
    border: 1px solid #111111;
}

.recipes-name-admin{
    font-size: 18px;
    line-height: 28px;
}

.recipes-author-admin{
    font-size: 14px;
    line-height: 24px;
    color: var(--color-graySoft);
}

.recipes-view-admin a{
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-rocket);
}

.intro{
    margin-top: 50px;
    margin-bottom: 24px;
}

.intro-text{
    display: inline-block;
    font-size: 24px;
}

.intro-btn{
    float: right;
}

.intro-btn a, button[type="submit"]{
    background-color: var(--color-rocket);
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}

button[type="submit"].btn-delete {
    background-color: var(--color-deleteRed);
}

/*Página de Edição de Receitas - Administração*/

.item{
    margin-bottom: 30px;
}

.item button{
    background-color: transparent;
    color: var(--color-rocket);
    font-size: 16px;
    margin-top: 10px;
}

form div:first-child{
    font-size: 16px;
    font-weight: bold;
}

form input, textarea, select{
    width: 95%;
    color: #555;
    padding: 15px 20px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

/* Pag. 404*/

.notFound{
    text-align: center;
}

.notFound h1{
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
}

.notFound p{
    /* max-width: 600px; */
    margin: 5px auto;
    font-size: 18px;
    line-height: 28px;
}

.notFound img{
    margin: 38px auto;
}

/* Responsividade */

@media(max-width: 800px) {

    .recipes-title {
        margin: 30px 100px 10px;
    }

    .recipes-container {
        grid-template-columns: 1fr;
        margin: 50px;
    }
}
