/* CARD GENERICO */

.card{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card_title{
    font-family: Helvetica;
    font-size: 18px;
    display: block;
}

.card_subtitle,
.card_email{
    margin-top: 5px;
    font-family: Helvetica;
    font-size: 14px;
    color: var(--color-graySoft2);
}

.card_view{
    margin-top: 16px;
}

.card_view a{
    text-decoration: none;
    margin: 0 16px 0 0;
    font-size: 14px;
}

.card_view .btn_editar, .btn_view{
    color: var(--color-rocket);
}

.card_view .btn_deletar{
    color: var(--color-deleteRed);
}

/* CARD LISTAGEM */
.list{
    margin-bottom: 40px;
}

/* CARD COM IMAGEM DA RECEITA */
.horizontal{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 20px;
    width: 100%;    /*Tem 100% de largura para que o nome do Chef fique em uma linha*/
}

.horizontal .img_rounded{
    border-radius: 5%;
    width: 172px;
    height: 80px;
    object-fit: cover;  /*Prop. especifica como o conteúdo de um elemento deve ser ajustado à caixa estabelecida pela altura e largura usadas*/
}

/* CARD COM IMAGEM DO CHEF */
.img_circular{
    border-radius: 50%;
    height: 64px;
    width: 64px;
    object-fit: cover;
}

/* CARD COM IMAGEM DA RECEITA NA VERTICAL */
.img_vertical{
    width: 300px;
    height: 140px;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
}