:root{
    --color-graySoft: #666666; 
    --color-graySoft2: #777777;
    --color-graySoft3: #999999;
    --color-gray: #444444;
    --color-grayHard: #111111;
    --color-rocket: #6558C3;
    --color-deleteRed: #DC4747;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    display: flex;                      
    flex-direction: column;   
    overflow-y: overlay;      
    min-height: 100vh;
}

/* CONTAINER */
.container {
    max-width: 940px;
    margin: 0 auto 50px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.title{
    max-width: 940px;
    margin: 32px auto 24px;
    width: 100%;
}

/* WRAPPER DAS RECEITAS, CHEFS E USUÁRIOS */
.show-wrapper{
    display: grid;
    margin: 16px auto 24px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

/* RODAPÉ / FOOTER */
footer {
    background: #EEEEEE;
    width: 100%;
    padding: 24px;
    flex-flow: column;
}

footer p{
    font-size: 14px;
    color: var(--color-graySoft3);
    text-align: center;
}

/* ABOUT / SOBRE */
.about h2, .about h3{
    margin-bottom: 16px;
    color: var(--color-grayHard);
}

.about h3{
    margin-top: 32px;
}

.about p{
    font-size: 16px;
    line-height: 26px;
    color: var(--color-graySoft);
    text-align: justify;
}

/* PAGINAÇÃO / PAGINATION */
.pagination{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.pagination a, 
.pagination span{
    text-decoration: none;
    margin-right: 16px;
}

/* RECIPES DETAILS / DETALHE DAS RECEITA */

.recipe-intro{
    margin: auto 32px;
    text-align: center;
}

.recipe-info{
    font-size: 22px;
    line-height: 32px;
    color: var(--color-gray);
    margin-top: 22px;
    margin-bottom: 42px;
}

.recipe-info h1{
    font-size: 24px;
    color: var(--color-grayHard);
    margin-bottom: 20px;
}

.recipe-info ul{
    margin-left: 18px;
}

.recipe .visibility{
    background: none;
    color: var(--color-graySoft3);
    font-size: 12px;
}

.hide{
    display: none;
}