<div class="item"> 
    <h3>Nome</h3>
        <input 
            type="text" 
            name="name" 
            placeholder="Digite o nome completo" 
            value="{{ user.name }}" 
            required>
</div>

<div class="item">
    <h3>Email</h3>
        <input 
            type="email" 
            name="email" 
            placeholder="Digite o email" 
            value="{{ user.email }}" 
            {# onblur="Validate.apply(this, 'isEmail')"  #}
            {# verificar o Validate #}
            required> 
</div>

<div class="item">
    <h3>Senha</h3>
        <input 
            type="password" 
            name="password" 
            placeholder="Digite o senha" 
            required> 
</div>    