{% extends "layouts/admin.njk" %}

    {% block head %}
        <title>Meu Perfil</title> 
    {% endblock %} 

    {% block content %} 
        <section class="control">
            <h1>Saudações, {{ user.name }}!</h1>
            <button type="submit" form="form-save">Salvar Usuário</button>
        </section>

        <section class="users container">

            <form id="form-save" method="POST" action="/admin/profile?_method=PUT"> 

                <input type="hidden" name="id" value="{{ user.id }}">
                {# utilizando esse campo para poder mandar o ID para o backend, quando formos atualizar algum registro #}

                {% include 'admin/profile/fields.njk' %}
                
            </form>

        </section>

    {% endblock %}