{% extends "layouts/admin.njk" %} 

    {% block head %}
        <title>Receita - {{ recipe.title }}</title>
    {% endblock %}

    {% block container %}

        <section class="intro">

            <div class="intro-text">
                <h1>Receita: {{ recipe.title }}</h1>
            </div>

            <div class="intro-btn">
                 <a href="{{ recipe.id }}/edit">Editar Receita</a>
            </div>
            
        </section>

        <section class="recipe-details-container-admin">
    
            <div class="recipe-img">
                <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
            </div>

            <div class="recipe-name">
                <h1>{{ recipe.title }}</h1>
                <h3>por {{ recipe.chef_name }}</h3>
            </div>

                <h1>Ingredientes</h1>

            <div class="recipe-info">
                <ul>
                    {% for item in recipe.ingredients %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>

                <h1>Modo de Preparo</h1>   

            <div class="recipe-info">
                <ul>
                    {% for item in recipe.preparation %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>                     
            </div>

                <h1>Informações adicionais</h1>

            <div class="recipe-info">
                <p>
                    {% if(recipe.information == "")%}
                        Não há informações adicionais para essa receita.
                    {% else %}
                        {{ recipe.information }}
                    {% endif %}
                </p>
            </div>

        </section>

    </section>  

    {% endblock %}

    {% block footer %}
        
    {% endblock footer %}

</html>