{% extends "layouts/admin.njk" %} 

    {% block head %}
        <title>Foodfy - Administração</title>
    {% endblock %} 

    {% block container %}

        <section class="control">

            <div>
                <h1>Editando receita</h1>
            </div>

            <div>
                <button class="btn-delete" type="submit" form="form-delete">Deletar</button>
                <button class="btn-salve" type="submit" form="form-save">Salvar Receita</button>
            </div>

        </section>

        <section class="details-recipes container">

            <form id="form-save" method="post" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">

                <input type="hidden" name="id" value="{{ recipe.id }}">

                {% include 'admin/recipes/fields.njk' %} 
            
            </form> 

            <form id="form-delete" method="post" action="/admin/recipes?_method=DELETE">
        
                <input type="hidden" name="id" value="{{ recipe.id }}">
        
            </form>     

            <script>

                const formDelete = document.querySelector("#form-delete")

                formDelete.addEventListener("submit", function(event){
                    const confirmation = confirm("Deseja apagar essa receita?")

                    if(!confirmation){
                        event.preventDefault()
                    }
                })

            </script> 

        </section>

    {% endblock container %}

    {% block footer %}
    {% endblock footer %}