<div class="item">
    <h3>Imagem da receita</h3>

    <div id="photo-container">
        <div id="photos-upload"> 
            <input
                id="photos-input"
                type="file"
                name="photos"
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event)"
                multiple>
                <i class="material-icons">add</i>
        </div>

        <div id="photos-preview">
            {% if recipe.files %}
                {% for item in recipe.files %}
                    <div class="photo" id={{ item.id }}>
                        <img src="{{ item.src }}" alt="{{ item.name }}">
                            <i class="material-icons" onclick="ChefPhotoUpload.removeOldPhoto(event)">
                                close
                            </i>
                    </div>
                {% endfor %}

                    <input type="hidden" name="removed_file">

            {% endif %}
        </div>
    </div>

</div>

<div class="item">
    <h3>Nome da Receita</h3>
    <input type="text" name="title" placeholder="Insira o nome da Receita" value="{{ recipe.title }}" required></div>
</div>

<div class="item">
    <h3>Nome do Chef</h3>
    <select name="chef">
        {% for chef in chefNames %}
            <option value="{{ chef.id }}" {% if recipes.chefs_id == "chef.id" %} selected {% endif %}>
                {{ chef.name }}
            </option>
        {% endfor %}
    </select>
</div>

<div class="item">
    <h3>Ingredientes</h3>
    <div id="newIngredient">
        {% if (recipe.ingredients.length > 0) %}
            {% for ingredient in recipe.ingredients %}
                <input type="text" name="ingredients[]" placeholder="Insira os ingredientes" value="{{ ingredient }}" required>
            {% endfor %}
        {% else %}
            <input type="text" name="ingredients[]" placeholder="Insira os ingredientes" required>
        {% endif %}
    </div>

    <button type="button" class="fieldIngredient">Adicionar novo ingrediente</button>

</div>          
    

<div class="item">
    <h3>Modo de Preparo</h3>
    <div id="newPreparation">
        {% if (recipe.preparation.length > 0) %}
            {% for preparation in recipe.preparation %}
                <input type="text" name="preparation[]" placeholder="Insira os passos da receita" value="{{ preparation }}" required>
            {% endfor %}
        {% else %}
            <input type="text" name="preparation[]" placeholder="Insira os passos da receita" value="{{ preparation }}" required>
        {% endif %}
    </div>

    <button type="button" class="fieldPreparation">Adicionar novo passo</button>

</div>
        
<div class="item">
    <h3>Informações adicionais</h3>
        <textarea name="information" rows="10">{{ recipe.information }}</textarea>
    </div>
</div>