{% extends "layouts/admin.njk" %} 

    {% block head %}
        <title>Foodfy - Receitas</title> 
    {% endblock %}

    {% block container %}

        <section class="control">

            <div>
                <h1>Gerenciar Receitas</h1>
            </div>

            <div> 
                <a href="/admin/recipes/create">Criar Nova Receita</a>
            </div>

        </section>

        <section class="recipes-admin container"> 

            {% for recipe in recipes %}

                <div class="card-horizontal">

                    <img class="img_rounded"
                        src="{{ recipe.image }}" 
                        alt="Imagem de {{ recipe.name }}">

                    <div class="card_info">
                        <span class="info_title">{{ recipe.title }}</span>
                        <span class="info_subtitle">por {{ recipe.chef_name }}</span>
                        <span class="info_view">
                            <a href="/admin/recipes/{{ recipe.id }}">
                                Visualizar
                            </a>
                        </span>
                    </div>

                </div>

            {% endfor %}
                
        </section>

    {% endblock container %}