<!DOCTYPE html>
<html lang="pt_BR">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title>Foodfy Administração</title>
        {% endblock %}
        
        {% include "./parts/styles.njk" %}

    </head>

    <body>

        {% include "layouts/parts/messages.njk" %}

        {% block header %}
            {% include "./parts/adminHeader.njk" %}
        {% endblock header %}

        <main>
            {% block container %}{% endblock %}
            {% block footer %}{% endblock footer %}
        </main>
        <script src="/scripts.js"></script>
    </body>
</html>