<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <title>Foodfy Administração</title>
        {% endblock %}
        {% include "layouts/parts/styles.njk" %}
    </head>
    <body>
        {% include "layouts/parts/messages.njk" %}
        {% block header %}

            {% if session.isAdmin %}
                <header>
                    <div class="container">
                        <div>
                            <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"> </a>
                        </div>
                        <div>
                            <nav>
                                <a href="/admin/recipes">RECEITAS</a>
                                <a href="/admin/chefs">CHEFS</a>
                                <a href="/admin/users">USUÁRIOS</a>
                            </nav>
                        </div>
                        <div>
                            <form id="form-logout" action="/admin/logout" method="post">
                                <button type="submit">
                                    SAIR
                                </button>
                            </form>                    
                        </div>
                    </div>
                </header>
            {% else %}
                <header>
                    <div class="container">
                        <div>
                            <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"> </a>
                        </div>
                        <div>
                            <nav>
                                <a href="/admin/recipes/myRecipes">Minhas Receitas</a>
                            </nav>
                        </div>
                        <div>
                            <form id="form-logout" action="/admin/logout" method="post">
                                <button type="submit">
                                    SAIR
                                </button>
                            </form>                    
                        </div>
                    </div>
                </header>
            {% endif %}
            
        {% endblock header %}
        <main>
            {% block container %}{% endblock %}
            {% block footer %}{% endblock footer %}
        </main>
        <script src="/scripts.js"></script>
    </body>
</html>