<!DOCTYPE html>
<html lang="pt-br"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title>Foodfy Administração</title> 
        {% endblock %}

        <link rel="icon" href="img/favicon.png"/>
        <link rel="stylesheet" href="/styles.css">
    </head> 

    <body>

        {% block header %}

            <header>

                <div class="container">

                    <div>
                        <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
                    </div>

                    <div>

                        <nav>
                            <a href="/admin/recipes">RECEITAS</a>
                            <a href="/admin/chefs">CHEFS</a>
                        </nav>

                    </div>
        
                    {# <div>
                        <form action="" method="get">
                            <input type="text" name="filter" placeholder="Buscar uma receita">
                            <button type="submit">Buscar</button>
                        </form>
                    </div> #}

                </div>
                
            </header>

        {% endblock header %}

        <main>

            {% block container %}

            {% endblock %}
        
            {% block footer %}

            {% endblock footer %}

        </main>

        <script src="/scripts.js"></script>

    </body>
</html>