<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link rel="icon" href="img/favicon.png"/>       
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>

        {% block header %}

            <header>

                <div class="container">

                    <div>
                        <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
                    </div>

                    <div>

                        <nav>
                            <a href="/about">Sobre</a>
                            <a href="/recipes">Receitas</a>
                            <a href="/chefs">Chefs</a>
                            <a href="/admin/recipes">Receitas Temp.</a>
                            <a href="/admin/chefs">Chefs Temp.</a>
                        </nav>

                    </div>
        
                    {# <div>
                        <form action="" method="get">
                            <input type="text" name="filter" placeholder="Buscar uma receita">
                            <button type="submit">Buscar</button>
                        </form>
                    </div> #}

                </div>

            </header>

        {% endblock header %}

        <main>

            {% block banner %}
            
            {% endblock  %}

            {% block container %}

            {% endblock %}

            {% block footer %}

                <footer>
                    <p>Todos os direitos reservados, receitas Foodfy</p>
                </footer>
                
            {% endblock footer %}

        </main>

        <script src="/scripts.js"></script>

    </body>
</html>