{% extends "layouts/admin.njk" %}

    {% block content %}
        <section class="action-success container">
            <div class="success-lottie">
                <h1>Ação concluída</h1>
                <p>Dados salvos com sucesso!</p>
            </div>
        </section>

        <script src="/lottie.min.js"></script>
        <script>
            const element = document.querySelector('.success-lottie')

            lottie.loadAnimation({
            container: element, // the dom element that will contain the animation
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: '/animations/62669-success-lottie-animation.json' // the path to the animation json
            });
        </script>
    {% endblock %}